body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.gold_counter {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: left;
}

.activity_box {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    height: 500px;
    width: 500px;
}

.activity_summary {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #ffffff;
    padding: 10px;
}

.activity_box h1 {
    margin: 0;
    text-align: center;
}

.activity_box p {
    text-align: center;
}

.activity_summary {
    height: 500px;
    width: auto;
    border: 1px solid #ccc;
    background-color: #ffffff;
}


.gold_counter input {
    width: 100px;
    padding: 5px;
}


.activity_box  {
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loss {
    color: red;
}

.gain {
    color: green;
}
